.addBookContainer {
  background-color: #f1f1f1;
  padding: 30px;
  border-radius: 10px;
}

.saveButton {
  background-color: indigo;
  color: #ffff;
  font-weight: 600;
}

.saveButton:hover {
  color: lavender;
}
