.formStyle {
  border: 1px solid slateblue;
  padding: 30px;
  max-width: 500px;
  margin: 0 auto;
}

.loginBtn {
  background-color: indigo;
  color: #ffff;
  font-weight: 600;
}
.loginBtn:hover {
  color: lavender;
}
